flask
yfinance
numpy
pandas
scikit-learn
tensorflow==2.13.1
plotly
statsmodels
matplotlib
seaborn
IPython
flask_cors
gunicorn
ta
# cryptography
yahoo-fin
mpld3
requests_html
pandas_ta
python-engineio==4.4.0
python-socketio==5.8.0
Flask-SocketIO==5.3.3
dnspython==2.3.0
eventlet==0.33.3
greenlet==2.0.2